# 需要被加密🔐的文件，配置方式和 .gitignore 类似
*.json filter=git-crypt diff=git-crypt
*.js filter=git-crypt diff=git-crypt
*.bean filter=git-crypt diff=git-crypt

# Making sure that .gitattributes is never encrypted. DON'T TOUCH THAT LINE AND ONE BELOW
.gitattributes !filter !diff
